################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ThermalThrottleData/.vs/ThermalThrottleData
/ThermalThrottleData/ThermalThrottleDataMain/obj/Debug
